.footer {
  margin-top: 20px;
  padding: 60px 0;
  background: rgb(255, 0, 0);
}

.footer p {
  color: white;
  text-align: center;
}

.footer {
  text-align: center;
}

.footer i {
  font-size: 30px;
  margin-right: 10px;
}

.footer a:visited {
  color: black;
}
